<ngx-spinner bdColor="rgba(0,0,0,0.8)" size="medium" color="#fff">
	<img class="img_spinner" src="assets/loader.png">
</ngx-spinner>

<div class="w3-container" *ngIf="pagedItems">
	<div class="w3-panel w3-round-small w3-teal">
		<h3>Customer List <button routerLink="/add" class="w3-button w3-green custom-button">
				<i class="w3-medium  fa fa-plus"></i> Add New Customer</button>

			<!-- <input class="w3-button w3-green custom-button" type='file' (change)="uploadFile($event)" /> -->
		</h3>
	</div>
	<span><i class="w3-medium fa fa-search"></i> Search : <input class="" type="text"
			(blur)="searchCustomers($event)"></span>

	<div class="w3-panel w3-green" *ngIf="(pagedItems | filter:filterData).length == 0">
		<h3>Oh no</h3>
		<p>No Customer found <span *ngIf="filterData"> with search "{{filterData}}"</span> </p>
	</div>

	<div class="w3-panel w3-light-grey w3-padding-16 w3-card-2"
		*ngIf="(pagedItems | filter:filterData | filter:filterData).length != 0">
		<table class="w3-table w3-striped w3-bordered">
			<tr>
				<th><input type="checkbox" name="name1" />&nbsp;</th>
				<th><i class="w3-medium custom-icon fa fa-refresh"></i> Sr. No.</th>
				<th><i class="w3-medium custom-icon fa fa-user"></i> First Name</th>
				<th><i class="w3-medium custom-icon fa fa-user"></i> Last Name</th>
				<th><i class="w3-medium custom-icon fa fa-phone"></i> Phone</th>
				<th><i class="w3-medium custom-icon fa fa-clock-o"></i> Created At</th>
				<th><i class="w3-medium custom-icon fa fa-pencil"></i> Update</th>
				<th><i class="w3-medium custom-icon fa fa-trash"></i> Delete</th>
			</tr>
			<tr *ngFor="let item of pagedItems | filter:filterData" appHighlightStudent>
				<td><input type="checkbox" name="name1" />&nbsp;</td>
				<td class="pointer" [routerLink]="['detail', item._id]">{{item.id}} </td>
				<td class="pointer" [routerLink]="['detail', item._id]">{{item.first_name}} </td>
				<td class="pointer" [routerLink]="['detail', item._id]">{{item.last_name}}</td>
				<td class="pointer" [routerLink]="['detail', item._id]">{{item.mobile_number | phone}}</td>
				<td class="pointer" [routerLink]="['detail', item._id]">{{item.created_at | date}}</td>
				<td><button [routerLink]="['update', item._id]" class="w3-button w3-blue">Update</button></td>
				<td><button id="openModal" (click)="deleteStudent(item._id);" class="w3-button w3-red">Delete</button>
				</td>
			</tr>
		</table>
		<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
			<!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
				<a (click)="setPage(1)">First</a>
			</li> -->
			<!-- <li [ngClass]="{disabled:pager.currentPage === 1}">
				<a (click)="setPage(pager.currentPage - 1); ; getCustomers(pager.currentPage - 1, {})">Previous</a>
			</li> -->
			<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
				<a (click)="setPage(page); getCustomers(page, {})">{{page}}</a>
			</li>
			<!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
				<a (click)="setPage(pager.currentPage + 1); ; getCustomers(pager.currentPage + 1, {})">Next</a>
			</li> -->
			<!-- <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
				<a (click)="setPage(pager.totalPages); ; getCustomers(pager.totalPages, {})">Last</a>
			</li> -->
		</ul>
	</div>
</div>